.plus {
  border-radius: 50px;
  background: #fbd34d;
  border: none;
  color: #0b293d;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.5s ease;
}

.plus:hover {
  background: #fbd34d;
  transform: scale(1.2);
  color: #0b293d;
}

.plus-text {
  text-align: left;
  justify-content: bottom;
}

.prispevky.title {
  float: left;
}

.add-prispevok {
  float: right;
}

.title {
  font-weight: bold;
  border-bottom: 3px solid #fbd34d;
}
