.btn {
  color: #fff;
  border: none;
  background: #eb6b56;
}

.btn:hover {
  background: #c45442;
}

.card {
  box-shadow: 4px 4px 3px rgb(221, 220, 220);
  margin: 30px;
  border-radius: 15px;
  width: 410px;
}

.cardPic {
  width: 220px;
}

.card-img-top {
  width: 320px;
}
