.button {
  background-image: linear-gradient(to bottom right, #f237ef, #fc5252);
  color: black;
  border: none;
}

.cardstyle {
  width: 250px;
  box-shadow: 10px 10px 5px grey;
  margin: 50px;
  border-radius: 50px 15px;
}
