.jumbo {
  background: url(https://images.unsplash.com/photo-1582589537165-caebcf983196?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

h1 {
  text-align: center;
}
