.footer {
  background-color: #0b2a3d;
  color: #fff;
  height: auto;
  margin-top: 75px;
  padding: 30px;
  align-items: center;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style-type: none;
}

.link:hover {
  text-decoration: none;
  color: #fff;
}
