.navigationbar-link {
  color: #000;
  border-top: transparent 3px solid;
  border-bottom: transparent 3px solid;
  transition: all ease 0.4s;
  font-weight: bold;
}

.navigationbar-link:hover {
  border-top: 3px #fbd34d solid;
  border-bottom: 3px #fbd34d solid;
}

.navbar-brand {
  font-weight: bold;
  border-bottom: 3px solid #fbd34d;
}
