.cardcontainer {
  background: transparent;
  padding-top: 0;
  margin-top: 25px;
  position: relative;
  display: inline-block;
}

hr {
  display: block;
  height: 1px;
  border: 3px;
  border-top: 2px solid #71f6a0;
  padding: 0;
}
